@font-face {
  font-family: 'Copse';
  font-style: normal;
  font-weight: normal;
  src: local('Copse'), url('http://themes.googleusercontent.com/font?kit=edYpk-Td-Lz5tVC6CefvWQ') format('truetype');
}

body{
  font-family: 'Copse', arial, serif;
  background-color: #111;
}

body.mainLayout {
  background: url(../images/back.png) top center repeat-y #111;
}

#menu {
  padding-top: 100px;
  font-size: 20pt;
  text-align: right;
}

#menu ul {
  padding-right: 10px;
  list-style-type: none;
}

#menu ul a {
  color: #dcf8ce;
  text-decoration: none;
}

#menu ul a:hover {
  color: #80D453;
}

#content {
  width: 650px;
  padding: 0 10px;
}

label {
   width: 200px;
   display: block;
   font-size: 12pt;
   float: left;
}

input, select, textarea{
  margin-bottom: 5px;
  margin-right: 5px;
}

.width400 {
  width: 400px;
}

.activeField
{
  background-color: #ffffff;
  border: solid 1px #33677F;
}

.idle
{
  border: solid 1px #AECAD1;
  background-color: #CDDDE1;
}

#listagem {
  width: 100%;
  background-color: #fff;
  text-align: center;
}

#listagem th, #listagem td{
  border: 1px solid #AECAD1;
  vertical-align: middle;
  padding: 0 3px;
}

#listagem th {
  background-color: #CDDDE1;
}

a {
  color: #3B6975;
  text-decoration: none;
}

a:hover {
  color: #4AB7D4;
}

/* Bordas arredondadas */

.bordaBox {background: transparent; width:600px; margin: 100px auto;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b4, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b, .bordaBox .b4b {display:block; overflow:hidden; font-size:1px;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b {height:1px;}
.bordaBox .b2, .bordaBox .b3, .bordaBox .b4 {background:#FFF; border-left:1px solid #DDD; border-right:1px solid #DDD;}
.bordaBox .b1 {margin:0 5px; background:#DDD;}
.bordaBox .b2 {margin:0 3px; border-width:0 2px;}
.bordaBox .b3 {margin:0 2px;}
.bordaBox .b4 {height:2px; margin:0 1px;}
.bordaBox .bordaConteudo {padding:5px;display:block; background:#FFF; border-left:1px solid #DDD; border-right:1px solid #DDD;}

p.alert_access_denied {
  font-size: 20pt;
  background: url(../images/icons/warning.png) center left no-repeat;
  padding-left: 128px;
  height: 128px;
  margin-bottom: 0;
  text-align: left;
}

.bordaBox .width400 {
  width: 300px;
}

.bordaBox form {
  padding: 20px;
}

.bordaBox h1 {
  background: url(../images/icons/login.png) center left no-repeat;
  padding-left: 40px;
  margin-left: 20px
}